<div id="<%= dom_id sales_event %>">
  <p>
    <strong>Store:</strong>
    <%= sales_event.store %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= sales_event.model %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= sales_event.inventory %>
  </p>

</div>
