<% content_for :title, "Events" %>

<p style="color: green"><%= notice %></p>

<h1>Sales events</h1>

<%= render 'event_table', sales_events: @sales_events %>

<%= link_to "New sales event", new_sales_event_path %>

<%= paginate @sales_events %>
