<% content_for :title, @store %>

<% content_for :meta do %>
  <meta http-equiv="Refresh" content="5">
<% end %>

<h1><%= @store %></h1>

<p>Last inventory known for each product</p>

<%= render 'sales_events/event_table', sales_events: @sales_events %>
